{{!< default}}

<div class="container">
  <article class="post-container error-content">
    <header class="post-header page-header">
      <div class="post-header-left">
        <h1 class="post-title">Lost?</h1>
      </div>
    </header>

    <div class="post-content clearfix">
      <img class="error-img" src="https://notte.is.seriously.moe/img/pixelart_special/battle_maid.gif"
        alt="nothing to see here...">
    </div>
  </article>
</div>